extends layout.pug

block content      
  style.
    .card.shadow.border-left-primary.py-2:hover {
    background-color: lightgrey;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    }
  .container-fluid
    .d-sm-flex.justify-content-between.align-items-center.mb-4
      h3.text-dark.mb-0 Main Page
    .row(style="padding-left: 5%; padding-top: 25px")
      if !notes.length 
        h1 
          | There are no notes. 
          a(href="/create/note" style="text-decoration: none")
            | Create one by going here
      each note in notes
        .col-md-6.col-xl-3.mb-4
          .card.shadow.border-left-primary.py-2
            .card-body
              a(href="/notes/" + note.id style="text-decoration: none")
                .row.align-items-center.no-gutters
                  .col.mr-2
                    .text-uppercase.text-primary.font-weight-bold.text-xs.mb-1
                      span votes: 0
                    .text-dark.font-weight-bold.h5.mb-0
                      span=note.name
                img(src="data:" + note.image.mime + ";base64," + note.image.buf style='width: 100%;height: 250px;padding: 5px;')